<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Hello New Guest!</title>
</head>
<body>

<h1 th:text="${'Hello '+username}"></h1>

<div>
<a th:href="@{/}">Start Your Treatment!</a>
</div>
<div>
    <h2>Current Members</h2>
<ul th:each="user : ${users}">
    <li><a th:href="@{/user/profile}+'/'+${user.id}" th:text="${user.username}"></a></li>
</ul>
</div>
</body>
</html>
